<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <%if(order.items.length >0) { %>
                <ul>
<li class="cart-items">
            <%=order._id%>
            <hr>
         <b> Total-quantities</b>  <%=totalQuantitys%>
        </li>
<a href="/invoice/<%=order._id%>">invoice</a>
</ul>
 <% }  else { %>
            <h1>Nothing there!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>